.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFormContinueWith {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 40px 0;
}

.loginFormContinueWith ion-text {
  color: var(--ion-color-light-shade);
  background-color: var(--ion-color-primary-contrast);
  padding: 0 10px;
}

.loginFormContinueWith::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--ion-color-light-shade);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.loginForm ion-list {
  width: 100%;
}

.loginForm ion-item {
  --background: var(--ion-color-light);
  --border-color: transparent;
  --border-radius: 10px;
  margin-bottom: 10px;
}

.loginForm ion-icon {
  color: var(--ion-color-light-shade);
}

.loginForm ion-input {
  margin: 0 10px;
}

.loginForm ion-button {
  --background: var(--ion-color-primary);
  --border-radius: 10px;
  margin: 0 10px;
  width: 100%;
}

.loginForm ion-checkbox {
  --border-radius: 6px;
  margin-bottom: 10px;
}

