.expertise-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
}
.expertise-container h1 {
  font-size: 30px;
}
.expertise-card {
  border: solid 1px #dcdbdf;
  border-radius: 20px;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
}
