.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  border-radius: 10px;
  margin: 0 5px;
  background: var(--ion-color-light-shade);
}

.swiper-pagination-bullet-active {
  width: 30px;
  opacity: 1;
  background: var(--ion-color-primary);
}