.welcome-cotainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1526657782461-9fe13402a841?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGxhcHRvcHxlbnwwfHwwfHx8MA%3D%3D")
    no-repeat center;
  background-size: cover;
  color: #ffff;
  padding-bottom: 50px;
}
