.seeAllBtn {
    --background: none;
    --background-hover: white;
    --background-activated: white;
    --background-focused: #88f4be;
  
    --color: blue;
  
    --border-radius: 0;
    --border-color: white;
    --border-style: none;
    --border-width: 1px;
  
    --box-shadow: white;
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
}  
.card-btn{
    text-align: end;
}
.main-container{
    padding: 20px;
}
.head{
    width: 100%;
    height: 200px;
    background: url(https://img.freepik.com/free-photo/portrait-happy-young-woman-pointing-her-fingers-against-orange-background_23-2148119682.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
}
.header{
    display: flex;
    border-bottom: 1px solid;
}

.img{
    background-color: rgb(235, 232, 232);
}