.chat-card {
  display: flex;
  justify-content: start;
}
.chat-card.message-primary {
  justify-content: end;
}
.mesage {
  display: flex;
  gap: 10px;
  width: 100%;
}
.message-input {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  border-radius: 25px;
}
.message-voice-send {
  --padding-start: 15px;
  --padding-end: 15px;
}
