.message-container{
    width: 100%;
    height: 100%;
}
.message-body{
    height: 100%;
    display: block;
    overflow-y: auto;
}
.message-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}