.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.splash-spinner {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  
}
.spinner{
  width: 80px;
  height: 80px;
}